{{#if (append 'articleBody.content-' (append moduleOffset '-title-1'))}}
  <section class="section">
    <div class="container content">
      {{#articleBody 'content'}}
        {{#articleBody 'content'}}
          {{#if articleBody.content-title}}
            <h2 class="text-uppercase">
              {{{articleBody.content-title}}}
            </h2>
          {{/if}}
          {{#if (or articleBody.content-text-1 articleBody.content-cta-link)}}
            <div class="col-12">
              <p>
                {{#articleBody 'content-text'}}
                  {{{articleBody.content-text}}}
                {{/articleBody}}
                {{#if articleBody.content-cta-link}}
                  <span class="btn-holder">
                    <a href="{{articleBody.content-cta-link}}" class="btn btn-danger content-cta-button" {{~linkOptimization articleBody.content-cta-link}}>
                      {{{articleBody.content-cta-anchor-text}}}
                    </a>
                  </span>
                {{/if}}
              </p>
            </div>
          {{/if}}
        {{/articleBody}}
      {{/articleBody}}
    </div>
  </section>
{{/if}}
