    <footer>
      <span class="footer-shadow"></span>
      <div class="container">
        <div class="footer-nav">
          <div class="row">
            {{#articleBody 'footer-menu'}}
              <div class="col-custom-{{@index}}">
                {{#articleBody 'footer-menu'}}
                  <div class="row-{{@index}}">
                    {{#if articleBody.footer-menu-header}}
                    <h5>
                      {{{articleBody.footer-menu-header}}}
                    </h5>
                    {{/if}}
                    <ul>
                      {{#articleBody 'footer-menu'}}
                      <li>
                        {{#if articleBody.footer-menu-link}}
                        <a href="{{articleBody.footer-menu-link}}">
                          {{{articleBody.footer-menu-anchor-text}}}
                        </a>
                        {{else}}
                          {{{articleBody.footer-menu-anchor-text}}}
                        {{/if}}
                      </li>
                      {{/articleBody}}
                    </ul>
                  </div>
                {{/articleBody}}
              </div>
            {{/articleBody}}
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div class="col-12 col-md-10 col-lg-11">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-custom">
                  {{#each breadcrumb.itemListElement}}
                    {{~#if @last~}}
                      <li class="breadcrumb-item active" aria-current="page">{{{item.name}}}</li>
                    {{~else~}}
                      <li class="breadcrumb-item"><a href="{{item.[@id]}}">{{{item.name}}}</a></li>
                    {{~/if~}}
                  {{/each}}
                </ol>
              </nav>
              <ul class="main-nav-footer">
                {{#articleBody 'footer-disclaimers'}}
                <li>
                  <a href="{{articleBody.footer-disclaimers-link}}">
                    {{{articleBody.footer-disclaimers-anchor-text}}}
                  </a>
                </li>
                {{/articleBody}}
              </ul>
              <div class="logo-holder d-block d-md-none">
                <img src="/assets/dist/images/footer-brand.png" alt="Brand logo">
              </div>
              {{#if articleBody.footer-copyright}}
                <span class="footer__copyright">
                  {{{articleBody.footer-copyright}}}
                </span>
              {{/if}}
            </div>
            <div class="col-12 col-md-2 col-lg-1 d-none d-md-block">
              <div class="logo-holder">
                {{#articleBody 'footer-brand'}}
                  <a href="{{articleBody.footer-brand-link}}">
                    <img src="/assets/dist/images/footer-brand.png" alt="{{articleBody.footer-brand}}">
                  </a>
                {{/articleBody}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {{#potentialAction 'renderHTML'}}
      {{#compare assemblyVersion '!=' 'development'}}
        {{#with @root}}
          {{>includes}}
        {{/with}}
      {{/compare}}
    {{/potentialAction}}
    {{>tracking}}
  </body>
</html>