<div>
  <div class="container bg-dark text-white p-5">
    <form>
      {{#withGroupFilter contactPoint "genre"}}
        {{#each this}}
          <div class="form-group">
            <label for="{{identifier}}">
              {{name}}
            </label>
            {{#if (test contactType (toRegex "^textarea$"))}}
              <textarea class="form-control" id="{{identifier}}" rows="3"></textarea>
            {{else}}
              <input type="{{contactType}}" class="form-control" id="{{identifier}}"{{#if description}} aria-describedby="{{identifier}}Help"{{/if}}>
            {{/if}}
            {{#if identifier}}
              <small id="{{identifier}}Help" class="form-text text-muted">{{description}}</small>
            {{/if}}
          </div>
        {{/each}}
      {{/withGroupFilter}}
      <button type="submit" class="btn btn-primary">
        {{articleBody.form-cta-anchor-text}}
      </button>
    </form>
  </div>
</div>