<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{{articleBody.title}}}</title>
    {{#if articleBody.description}}
      <meta name="description" content="{{{articleBody.description}}}" />
    {{/if}}
    <link href="{{renderCanonical this}}" rel="canonical" />
    <link rel="icon" href="/assets/dist/images/favicon.png" type="image/png" />
    {{critical}}
    {{#potentialAction 'renderHTML'}}
      {{#compare assemblyVersion '==' 'development'}}
        {{#with @root}}
          {{>includes}}
        {{/with}}
      {{/compare}}
    {{/potentialAction}}
    {{>tracking-custom}}
    {{>schema}}
  </head>
  <body>
    {{#if articleBody.tracking-gtm-gpo}}
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={{{articleBody.tracking-gtm-gpo}}}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    {{/if}}
    {{#if articleBody.tracking-gtm-client}}
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={{{articleBody.tracking-gtm-client}}}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    {{/if}}