<section class="section gray">
  <div class="container">
    <h2 class="text-uppercase">
      {{#articleBody 'tires-title'}}
        {{{articleBody.tires-title}}}
      {{/articleBody}}
    </h2>
    <div class="col-12">
      {{#articleBody 'tires-text'}}
        <p>
          {{#articleBody 'tires-text'}}
            {{{articleBody.tires-text}}}
          {{/articleBody}}
        </p>
      {{/articleBody}}
    </div>
    <div class="tires-holder col-12">
      {{#with (sortBy isRelatedTo "name")}}
        {{#withGroupFilter this "name"}}
          {{#with this.[0]}}
            <div class="row tire-item">
              <div class="tire-wrapp">
                <div class="tire-layout">
                  <div class="tire-item__title-wrap">
                    <img class="tire-item__brand" src="{{manufacturer.image}}" alt="{{manufacturer.name}}">
                    <span class="tire-name text-uppercase">
                      {{{render ../../../articleBody.tire-name}}}
                    </span>
                  </div>
                  <div class="tire-image">
                    <img src="{{image}}" alt="{{render ../../../articleBody.tire-name}}">
                  </div>
                  <p class="left-offset">
                    {{{render ../../../articleBody.tire-info}}}
                  </p>
                </div>
                <ul class="key-list">
                  {{#with ../../..}}
                  {{#articleBody 'tire-'}}
                  {{#with ../..}}
                  <li>
                    {{{render ../articleBody.tire-key-text}}}
                  </li>
                  {{/with}}
                  {{/articleBody}}
                  {{/with}}
                </ul>
              </div>
              <div class="button-holder">
                <a class="btn btn-custom btn-primary" href="{{render ../../../articleBody.tire-cta-link}}">
                  {{{render ../../../articleBody.tire-cta-anchor-text}}}
                </a>
              </div>
            </div>
          {{/with}}
        {{/withGroupFilter}}
      {{/with}}
    </div>
  </div>
</section>
